@import "../sass/colors";

.about-div {
  padding: 10px 30px;

  .dates {
    //margin: auto;
    text-align: center;
    .col {
      background-color: $grey100;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }
    .col-key {
      color: $grey700;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 600;
    }
    .col-value {
      color: $primary-color;

      margin-top: 10px;
      font-size: 20px;
    }
  }
  .description {
    margin-top: 20px;
    font-size: 20px;
  }
}
